.header-close-menu {
    display: block;
    width: 40px;
    height: 15px;
    position: absolute;
    right: 10px;
    margin-right: 0;
    margin-top: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    @extend %transition;
    cursor: pointer;
    z-index: 1001;

    &.open {
        position: fixed;
    }
}

.header-close-menu {

    &.open {
        span {
            background: $color-gray-20;
        }
    }

    span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: $color-gray;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        @extend %transition;
    }
}

.header-close-menu span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.header-close-menu span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.header-close-menu span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.header-close-menu.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.header-close-menu.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.header-close-menu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 26px;
    left: 8px;
}

@include is-desktop() {
    .header-close-menu {
        display: none;
    }
}
