.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px 0;

    &-card {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        position: relative;

        &-gradient::after {
            content: ' ';
            display: block;
            position: absolute;
            @extend %gradient-reverse;
            height: 100%;
            width: 100%;
            bottom: 0;
        }

        &-information {
            color: $color-white;
            position: absolute;
            bottom: 40px;
            padding: 0 20px 60px 70px;

            .card {
                &-name-title {
                    font-size: $font-size-medium;
                    text-transform: capitalize;
                }

                &-time {
                    font-size: $font-size-text;
                }

                $font-size-extra-large: 70px;

                &-section {
                    font-size: $font-size-small;
                    font-weight: 300;
                    margin-left: 5px;
                }

                &-description {
                    margin-top: 10px;
                    font-size: $font-size-normal;
                }

                &-vote {
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &-thumbs {
                        display: flex;
                    }

                    &-button {
                        padding: 10px 15px;
                        border: 2px solid $color-white;
                        cursor: pointer;
                        text-align: center;
                        margin-bottom: 15px;
                        font-size: $font-size-normal;
                        font-weight: 700;
                        background: linear-gradient(to left, transparent 50%, $color-white 50%);
                        background-size: 200% 100%;
                        background-position:right bottom;
                        margin-left:10px;
                        @extend %transition;

                        &:hover {
                            background-position:left bottom;
                            color: $color-gray-20;
                        }

                        &.disabled {
                            pointer-events: none;
                            opacity: 0.4;
                        }
                    }

                    .thumbs-up,
                    .thumbs-down {
                        width: 50px;
                        height: 50px;
                        padding: 0;
                        margin-right: 15px;

                        img {
                            width: 50px;
                            height: 50px;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }

    .header-thumb-container {
        position: absolute;
        bottom: 0;
        height: 60px;

        .thumbs-vote {
            display: flex;
            align-items: center;
            padding: 13px;
            transition:  all .3s;

            span {
                display: block;
                color: $color-white;
                font-size: $font-size-medium-tooltip;
                font-weight: 300;
                margin: 0 10px;
            }

            img {
                margin: 0;
            }
        }

        .thumbs-up {
            justify-content: flex-start;
        }

        .thumbs-down {
            justify-content: flex-end;
        }
    }
}

@include is-desktop() {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;

        &-card-information {
            .card-vote {
                justify-content: flex-start;
                flex-direction: row;
                margin-top: 30px;

                .thumbs-up,
                .thumbs-down {
                    width: 30px;
                    height: 30px;
                    padding: 0;

                    img {
                        width: 30px;
                        height: 30px;
                        padding: 5px;
                    }

                    &:hover img {
                        transform: scale(1);
                    }
                }

                &-button {
                    margin: 0;
                    font-size: $font-size-text;
                    order: 3;
                }
            }
        }
    }
}