.section-container-tooltip {
    background-color: $color-gray;
    position: relative;
    padding: 20px;
    margin: 30px 0;

    &-title {
        font-size: $font-size-normal;

        span {
            display: block;
            font-size: $font-size-medium;
            font-weight: 700;
        }
    }

    &-text {
        font-size: $font-size-small;
        margin-top: 15px;
        line-height: 1.4;
    }

    &-close-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        color: $color-gray-20;
        font-size: $font-size-normal;
        cursor: pointer;
    }
}

@include is-desktop() {
    .section-container-tooltip {
        display:  flex;
        justify-content: space-between;
        align-items: center;

        &-title {
            width: 40%;

            span {
                display: block;
                font-size: $font-size-medium-tooltip;
            }
        }

        &-text {
            margin: 0 30px 0 7px;
        }

        &-close-button {
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
        }
    }
}