.header-thumb-container {
    width: 100%;
    display: flex;
}

.thumbs {
    &-up,
    &-down {
        padding: 20px;
        cursor: pointer;

        &.border {
            border: 2px solid $color-white;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 35px;
            height: 35px;
        }

        span {
            display: none;
        }
    }
    &-up {
        background-color: $color-light-sea-green;
    }

    &-down {
        background-color: $color-dark-tangerine;
    }
}