.header-card
    .header-blur-bg
    .header-card-content
        p.header-card-title What's your opinion on
            span pope francis?
        p He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up)
        include ../header/_cardLink.jade
        div
            h4 What's your veredict?
            include ../thumb/_thumbContainer.jade


