header.header
    nav
        h2=data.header.thumb
        include ../header/_menu.jade
        img(src="/images/icons/magnifying-glass.svg", alt="Search icon")
    include ../header/_card.jade
    include ../header/_counter.jade